@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1570710465923') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e63a";
}

.icon-home:before {
  content: "\e648";
}

.icon-right:before {
  content: "\e65e";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e649";
}

.icon-zuo:before {
  content: "\e622";
}

