<!DOCTYPE html><html lang=en><head><meta charset=UTF-8><meta name=viewport content="width=device-width, initial-scale=1.0"><meta http-equiv=X-UA-Compatible content="ie=edge"><title>Document</title><script>
        function resetRemUnit() {

            // 获得设备像素比
            var radio = window.devicePixelRatio;
            // 处理设备像素比，只能是1，2，3
            radio = radio >= 3 ? 3 : (radio >= 2 ? 2 : 1);
            // 判断是否有meta标签
            var viewportDOM = document.querySelector('meta[name=viewport]');
            if (!viewportDOM) {
                viewportDOM = document.createElement('meta');
                viewportDOM.setAttribute('name', 'viewport');
            }
            // 计算页面缩放比例
            var scale = 1 / radio;
            var content = 'width=device-width, initial-scale=' + scale + ', maximum-scale=' + scale +
                ', minimum-scale=' + scale + ', user-scalable=no';
            viewportDOM.setAttribute('content', content);
            // 添加meta标签
            document.head.appendChild(viewportDOM);


            // 控制计算rem的最大最小适配页面
            var min = 320 * radio;
            var max = 540 * radio;
            var width = document.documentElement.clientWidth || window.innerWidth || document.documentElement
                .getBoundingClientRect().width;
            if (width < min) {
                width = min;
            } else if (width > max) {
                width = max;
            }
            // 计算rem
            document.documentElement.style.fontSize = (width * 100 / 415) + 'px';
        }

        resetRemUnit();
        window.onresize = resetRemUnit;
    </script><link rel=stylesheet href=/public/css/style.css><link rel=stylesheet href=/public/css/register.css></head><body><header class="header item-center"><span class="iconfont icon-zuo go-back"></span> <span>注册拉勾网</span></header><main class=content><p class=phone-num><input type=text placeholder=输入常用电话好吗></p><p class=phone-code><input type=text placeholder=输入收到的验证码> <span class=code>获取验证码</span></p><p class="logIn item-center">注册</p><div class="registerBox item-center"><span class="register item-center">登陆</span></div></main><script src=/public/lib/zepto.min.js></script><script src=/public/js/register.js></script></body></html>