<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/company.css">
</head>

<body>
    <header class="header item-center">
        <span class="iconfont icon-zuo go-back"></span>
        <span>设置定制信息</span>

    </header>

    <h2 class="item-center">“对公司的规模可有要求”</h2>
    <main class="content">
        <p>没有要求</p>
        <p>初创型</p>
        <p>成长型o</p>
        <p>成熟型</p>
        <p>上市公司</p>
    </main>


    
    <script src="/public/lib/zepto.min.js"></script>
    <script src="/public/js/company.js"></script>
</body>

</html>